@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #f7f7f7;
}

.App {
	padding: 1em;
}

header {
	font-family: "Playfair Display SC", serif;
	font-size: 64px;
	text-align: center;
	padding: 0px;
	background-color: #4caf50;
	color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 20px;
}

.recipe-list {
	width: 100%;
	margin-bottom: 20px;
}

.recipe-list table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.recipe-list th,
.recipe-list td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
	letter-spacing: 1px;
	overflow: hidden;
}

.recipe-list th {
	background-color: #f2f2f2;
	letter-spacing: 2px;
}

.recipe-list tbody tr:nth-child(odd) {
	background-color: #fff0c7;
}

.recipe-list td:nth-child(2),
.recipe-list td:nth-child(3) {
	width: 10%;
}

.recipe-list td:nth-child(4),
.recipe-list td:nth-child(5) {
	width: 30%;
	max-width: 30%;
	overflow: hidden;
}

.recipe-list td:nth-child(4) p,
.recipe-list td:nth-child(5) p {
	max-width: 100%;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
	text-overflow: ellipsis;
}

.recipe-list img {
	width: 100%;
	height: auto;
	max-width: 100%;
	object-fit: scale-down;
}

.recipe-create {
	width: 100%;
	background-color: white;
	border: 1px solid #ddd;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.recipe-create form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
}

.recipe-create input,
.recipe-create textarea {
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.recipe-create textarea {
	min-height: 100px;
}

.recipe-create button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.recipe-create button:hover {
	background-color: #45a049;
}

@media (max-width: 768px) {
	.main-content {
		flex-direction: column;
		align-items: center;
	}

	.recipe-list {
		width: 100%;
		margin-bottom: 20px;
	}

	.recipe-create {
		width: 100%;
	}
}
